.login-btn {
  width: 50%;
  background-color: beige;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 4% black solid;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-left: 25%;
  margin-top: 6%;
}

.login-btn:hover {
  background-color: #6b706b;
}

input[type="text"],
[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  background-color: cadetblue;
  border: black 2% solid;
  width: 35%;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 14px 22px;
  margin: 1% 0 0 35%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h2 {
  margin-top: 4%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

button {
  width: 50%;
  background-color: #353735;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 4% black solid;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-left: 25%;
  margin-top: 6%;
}
