body {
    background-image: url("https://media.istockphoto.com/photos/back-to-school-concept-stack-of-books-over-wooden-desk-in-front-of-picture-id1023468010?b=1&k=20&m=1023468010&s=170667a&w=0&h=UDTDfx2otf8w3OMBFlxxMZCQG4asJ68_1dJIkc94XUc=");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.form{
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    
    /* align-items: center; */
    background-color:blanchedalmond;
    background-image: none;
}